.create-line-left {
  padding-left: 20px;
  /* необходим для формирования позиций линий */
  position: relative;
  /* весь блок будет занимать ширину по размеру контента в нём */
  display: flex;
  justify-content: center;
  
}

.create-line-left:before{ 
  content: " ";
  background: black;
  width: 500px;
  height: 1px;
  /* располагаем линию сверху от текста */
  top: 15px;
  /* включаем абсолютное позиционирование относительно блока с relative */
  position: absolute;
}

.create-line-left:after{ 
  content: " ";
  background: #333333;
  width: 500px;
  height: 1px;
  /* размещаем линию снизу и справа*/
  top: 15px;
  right: px;
  /* включаем абсолютное позиционирование относительно блока с relative */
  position: absolute;
}