@import url('https://fonts.cdnfonts.com/css/tt-lakes-neue-trial');

* {
    box-sizing: border-box;
}
body {
    font-family: 'TT Lakes Neue Trial', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1;
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background-color: #ffffff;
    width: 100%;
}

.burger {
    padding-right: 15px;
    cursor: pointer;
}

.logo {
    padding-right: 20px;
}

.nav__stick {
    content: "";
    border: 1px solid #eaeaea;
    height: 30px;
    margin-right: 20px;
}

.repair {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.check--status {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.nav__tablet--version {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    width: 100%;
}

.service {
    display: flex;
    align-items: center;
}

.h2--stick {
    margin-bottom: 20px;
    content: "";
    border: 2px solid #41f6d7;
    height: 40px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 0 20px 20px 0;
}

h2 {
    font-size: 28px;
    margin-right: auto;
}

.service__pc-version {
    display: none;
}

.service__repair {
    display: none;
}

.service__check--status {
    display: none;
}

.slide--menu {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    gap: 30px;
    padding-left: 20px;
    width: 100%;
    height: 40px;
    white-space: nowrap;
    cursor: pointer;
    color: #7e7e82;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
} 

.pc--version {
    display: none;
}

.slide--menu div:nth-child(2) {
    border: 2px solid #B8FFEC;
    border-radius: 5px;
    padding: 7px 7px;
    background-color: #ffffff;
}

.review {
    display: none;
}

.grid {
    display: flex;
    flex-direction: column;
}

.inside--text {
    font-size: 14px;
    margin: 15px;
    font-weight: 400px;
    margin-bottom: 30px;
    color: #1B1C21;
}

.tablet--version {
    display: none;
}

.grid__pc--version {
    display: none;
}

.read--more {
    display: flex;
    margin-left: 15px;
    gap: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.read--more img { 
    width: 24px;
    height: 24px;
}

.img--logo {
    width: 100%;
    height: 176px;
}

.br--radius {
    border-radius: 0;
   }


@media(min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "text1  image"
            "text2  image"
            "readmore image";
        padding: 16px;
        gap: 16px;
    }

    .inside--text {
        grid-area: text1;
        width: 100%;
        margin: 0;
        margin-left: 6px;
        padding-right: 40px;
    }

    .tablet--version {
        display: block;
        grid-area: text2;
        width: 100%;
        height: 100%;
        font-size: 14px;
        color: #1B1C21;
        margin: 0;
        margin-left: 6px;
    }

    .read--more {
        grid-area: readmore;
        margin-left: 0;
    }

    .img--logo {
        grid-area: image;
        width: 100%;
        height: 100%;
    }

    .img--logo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slide--menu {
        width: 100%;
    }

    .nav__tablet--version {
        display: flex;
    }

    .call {
        margin-left: 20px;

    }

    .repair .check--status {
        margin-right: auto;
    }

    .logo {
        margin-right: auto;
    }

    .nav__stick1 {
    content: "";
    border: 1px solid #eaeaea;
    height: 30px;
    margin-right: 20px;
    }

    .call {
        padding-right: 20px;
    }

    .chat {
        padding-right: 20px;
    }

    .profile {
        padding-right: 20px;
    }

    .br--radius {
    border-radius: 5px;
   }
}

@media(min-width: 1120px) {
    nav {
        display: none;
    }

    .service__pc-version {
    display: flex;
    align-items: center;
    margin-right: 10px;
    }

    .service__repair {
    display: flex;
    margin-right: 30px;
    }

   .service__check--status {
    display: flex;
    margin-right: 30px;
   }

   .content {
    padding-top: 20px;
   }

   .tablet--version {
    display: none;
   }

   .grid__pc--version {
    display: flex;
    font-size: 14px;
    font-weight: 400px;
    color: #1B1C21;
    padding-right: 17px;
    margin-left: 25px;
   }

   .review {
    display: flex;
    align-items: center;
    padding-left: 50px;
    cursor: pointer;
    color: #7e7e82;
    margin: 7px;
    font-weight: 500;
    font-size: 16px;
   }

   .read--more {
    padding-bottom: 80px;
    margin-left: 25px;
   }

   .br--radius {
    border-radius: 5px;
   }

   .inside--text {
    padding-top: 10px;
    margin-left: 25px;
    padding-right: 60px;
   }

   .slide--menu div:first-child {
    display: flex;
    border: 2px solid #B8FFEC;
    border-radius: 5px;
    padding: 7px 7px;
    background-color: #ffffff;
   }

   .pc--version {
    display: flex;
   }

   .slide--menu div:nth-child(2) {
    border: none;
    background-color:#f8f8f8 ;
   }
   
   .none--pc {
    display: none;
   }

   h2 {
    padding-left: 10px;
   }

   .slide--menu {
    padding-left: 35px;
   }

}