@import url('https://fonts.cdnfonts.com/css/tt-lakes-neue-trial');

* {
    box-sizing: border-box;
}
body {
    font-family: 'TT Lakes Neue Trial', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1;
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background-color: #ffffff;
    width: 100%;
}

.burger {
    padding-right: 15px;
    cursor: pointer;
}

.logo {
    padding-right: 20px;
}

.nav--stick {
    content: "";
    border: 1px solid #eaeaea;
    height: 30px;
    margin-right: 20px;
}

.repair {
    cursor: pointer;
}

.check--status {
padding-left: 20px;
cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    width: 100%;
}

.service {
    display: flex;
}

.h2--stick {
    content: "";
    border: 2px solid #41f6d7;
    height: 40px;
    margin-right: 20px;
    margin-top: 25px;
    border-radius: 0 20px 20px 0;
}

h2 {
    font-size: 28px;
}

.slide--menu {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    gap: 30px;
    padding-left: 20px;
    width: 100%;
    height: 40px;
    white-space: nowrap;
    cursor: pointer;
    color: #7e7e82;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
} 

.pc--version {
    display: none;
}

.mobile--version {
    border: 2px solid #B8FFEC;
    border-radius: 5px;
    padding: 7px 7px;
    background-color: #ffffff;
}

.grid {
    display: flex;
    flex-direction: column;
}

.inside--text {
    font-size: 14px;
    margin: 15px;
    font-weight: 400px;
    margin-bottom: 30px;
    color: #1B1C21;
}

.tablet--version {
    display: none;
    width: 288px;
    height: 90px;
    font-size: 14px;
    margin: 15px;
    font-weight: 400px;
    margin-bottom: 30px;
    color: #1B1C21;
}

.read--more {
    display: flex;
    margin-left: 15px;
    gap: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.read--more img { 
    width: 24px;
    height: 24px;
}

.img--logo {
    width: 100%;
    height: 176px;
}


@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "text1  image"
            "text2  image"
            "readmore image";
        padding: 16px;
        gap: 16px;
    }

    .inside--text {
        grid-area: text1;
        width: 100%;
        margin: 0;
    }

    .tablet--version {
        display: block;
        grid-area: text2;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .read--more {
        grid-area: readmore;
        margin-left: 0;
    }

    .img--logo {
        grid-area: image;
        width: 100%;
        height: 100%;
    }

    .img--logo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slide--menu {
        width: 100%;
    }
}